---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <header class="sticky top-0 h-[90px] shadow-xl z-30 bg-white">
    <div class="container mx-auto flex justify-between h-full items-center">
      <a href="#">
        <img src="/logo.svg" alt="logo" />
      </a>
      <nav>
        <div class="cursor-pointer lg:hidden" id="nav_trigger_btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            fill="rgba(0,0,0,1)"
            ><path d="M16 18V20H5V18H16ZM21 11V13H3V11H21ZM19 4V6H8V4H19Z"
            ></path></svg
          >
        </div>
        <ul
          class="fixed w-full h-0 p-0 bg-white overflow-hidden border-t top-[90px] left-0 right-0 flex flex-col gap-4 lg:relative lg:flex-row lg:p-0 lg:top-0 lg:border-none lg:h-full transition-all duration-300"
          id="nav_menu"
        >
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Our Work</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="max-w-[1920px] mx-auto bg-white overflow-hidden">
    <!-- grid image  -->
    <div
      class="xl:bg-grid xl:bg-center xl:bg-repeat-y fixed top-0 bottom-0 left-0 right-0 z-10"
    >
    </div>

    <!-- Hero  -->
    <section
      class="hero h-[640px] bg-hero bg-center lg:bg-cover bg-no-repeat bg-fixed xl:rounded-bl-[290px] relative z-20"
    >
      <div
        class="container mx-auto h-full flex items-center justify-center xl:justify-start"
      >
        <div
          class="hero__text w-[567px] flex flex-col items-center text-center xl:text-left lg:items-start"
        >
          <h1 class="text-primary text-[64px] lg:text-[84px] leading-none mb-8">
            Let Your Home Be Unique
          </h1>
          <p class="mb-8">
            There are many variations of the passages of lorem Ipsum from
            available, variations of the passages.
          </p>
          <button
            class="h-[75px] px-[30px] transition-all duration-300 text-white rounded-[18px] flex items-center gap-2 bg-primary hover:bg-primary-hover mx-auto xl:mx-0"
            >Get free estimation
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="25"
              height="25"
              fill="rgba(255,255,255,1)"
              ><path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path></svg
            >
          </button>
        </div>
      </div>
    </section>

    <!-- steps  -->
    <section class="steps mt-[80px] xl:mt-[200px] relative z-20">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 gap-12 xl:grid-cols-3">
          <div class=" steps__step text-center">
              <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="34" height="34" fill="rgba(216,102,36,1)"><path d="M10.9998 4.12272V1.9967H12.9998V4.12272C14.725 4.56676 15.9998 6.13286 15.9998 7.9967C15.9998 9.11439 15.5414 10.125 14.8023 10.8508L20.8658 21.3531L19.1338 22.3531L13.0708 11.8517C12.7299 11.9462 12.3708 11.9967 11.9998 11.9967C11.6289 11.9967 11.2697 11.9462 10.9288 11.8517L4.86584 22.3531L3.13379 21.3531L9.1973 10.8508C8.45823 10.125 7.99981 9.11439 7.99981 7.9967C7.99981 6.13286 9.27459 4.56676 10.9998 4.12272ZM11.9998 9.9967C13.1044 9.9967 13.9998 9.10127 13.9998 7.9967C13.9998 6.89213 13.1044 5.9967 11.9998 5.9967C10.8952 5.9967 9.99981 6.89213 9.99981 7.9967C9.99981 9.10127 10.8952 9.9967 11.9998 9.9967Z"></path></svg>
              </div>
          </div>
        </div>
      </div>
    </section>

    <!-- tempory div  -->
    <div class="h-[3000px]"></div>
  </main>

  <script>
    import "../scripts/main";
  </script>
</Layout>

<style>
  a {
    @apply hover:text-accent;
  }

  .nav-is-open {
    @apply h-[350px] p-6;
  }
</style>
