<section class="brands mt-[80px] xl:mt-[200px] relative z-20">
  <div class="container mx-auto">
    <div class="flex flex-col xl:flex-row justify-between items-center gap-12">
      <img class="brands__img" src="src/assets/brand/01.svg" />
      <img class="brands__img" src="src/assets/brand/02.svg" />
      <img class="brands__img" src="src/assets/brand/03.svg" />
      <img class="brands__img" src="src/assets/brand/04.svg" />
      <img class="brands__img" src="src/assets/brand/05.svg" />
    </div>
  </div>
</section>
