<section class="testimonial mt-[80px] xl:mt-[200px] relative z-20">
  <div
    class="testimonial__bg container mx-auto bg-accent-secundary rounded-[70px] px-6"
  >
    <!--slider -->
    <div class="w-full">
      <div class="testimonial__slider swiper h-[400px]">
        <div class="swiper-wrapper">
          <!--slider -->
          <div class="swiper-slide">
            <!--items -->
            <div class="testimonial__item w-full max-w-[360px] h-[340px] bg-white rounded-[30px] flex flex-col items-center p-9 mx-auto">
                <div>
                    <img class="h-[52px] w-[72px] rounded-full" src="https://img.freepik.com/foto-gratis/joven-barbudo-camisa-rayas_273609-5677.jpg?t=st=1710883573~exp=1710887173~hmac=5923b426365c7de50fde6d70d3049479727f92020b75f277cec0c826d510b1b9&w=900" />
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section

