<section class="work mt-[80px] xl:mt-[150px] relative z-20">
  <div class="container mx-auto xl:px-0">
    <div class="text-center mb-24">
      <h2 class="text-3xl font-bold mb-4">Nuestros Proyectos</h2>
      <p class="mx-auto">
        It is a long established fact that a reader will be distracted by the of
        readable content of page lookings at its layouts points.
      </p>
    </div>
    <!--GRID WORK -->
    <div
      class="work__grid grid grid-cols-1 xl:grid-cols-2 gap-x-[104px] gap-y-[57px]"
    >
      <!--GRID ITENS -->
      <div class="w-full max-w-[548px] h-full mx-auto">
        <img class="mb-6" src="src/assets/work/01.png" />
        <div class="flex justify-between items-center w-full">
          <div>
            <h3 class="text-2xl text-accent">Modern Window</h3>
            <p>Decoration/Moderna</p>
          </div>
          <button
            class="bg-accent-secundary hover:bg-accent/60 w-[60px] h-[60px] rounded-full flex justify-center items-center"
          >
            <svg
              class=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              fill="rgba(234,113,46,1)"
              ><path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path></svg
            >
          </button>
        </div>
      </div>
      <div class="w-full max-w-[548px] h-full mx-auto">
        <img class="mb-6" src="src/assets/work/02.png" />
        <div class="flex justify-between items-center w-full">
          <div>
            <h3 class="text-2xl text-accent">Modern Window</h3>
            <p>Decoration/Moderna</p>
          </div>
          <button
            class="bg-accent-secundary hover:bg-accent/60 w-[60px] h-[60px] rounded-full flex justify-center items-center"
          >
            <svg
              class=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              fill="rgba(234,113,46,1)"
              ><path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path></svg
            >
          </button>
        </div>
      </div>
      <div class="w-full max-w-[548px] h-full mx-auto">
        <img class="mb-6" src="src/assets/work/03.png" />
        <div class="flex justify-between items-center w-full">
          <div>
            <h3 class="text-2xl text-accent">Modern Window</h3>
            <p>Decoration/Moderna</p>
          </div>
          <button
            class="bg-accent-secundary hover:bg-accent/60 w-[60px] h-[60px] rounded-full flex justify-center items-center"
          >
            <svg
              class=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              fill="rgba(234,113,46,1)"
              ><path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path></svg
            >
          </button>
        </div>
      </div>
      <div class="w-full max-w-[548px] h-full mx-auto">
        <img class="mb-6" src="src/assets/work/04.png" />
        <div class="flex justify-between items-center w-full">
          <div>
            <h3 class="text-2xl text-accent">Modern Window</h3>
            <p>Decoration/Moderna</p>
          </div>
          <button
            class="bg-accent-secundary hover:bg-accent/60 w-[60px] h-[60px] rounded-full flex justify-center items-center"
          >
            <svg
              class=""
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="32"
              height="32"
              fill="rgba(234,113,46,1)"
              ><path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
              ></path></svg
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
